

 
 
 
 
 
 
 
 
 
 
 
 
  
Table-tennis Training Management System 
2025 Software Engineering
Practice Project
2025.8.29 - 2025.10.3
College of Computer Science & Technology

蓝星软件公司计划面向全国的乒乓球培训机构开发一个乒乓球培训管理系统。该系统旨在帮
助培训机构完成学生报名、教练入职、选课、排课、学费收取和退费、训练环节记录和比赛
管理等功能。 
 
该系统可以面向不同规模的培训机构进行分区管理。对于规模较大的乒校，由系统的超级管
理员指定中心校区和若干分校区，超级管理员录入每个校区的基本信息，如名字，地址，联
系方式（联系人、电话、邮箱）等，并指定分校区的负责人，分校区的负责人也即校区管理
员。超级管理员缺省成为中心校区的校区管理员。任何普通校区管理员应用系统完成的对各
自校区的管理工作，超级管理员均有权限操作。 
 
乒乓球学员（简称为学员）注册（也即入学报名）时需提供用户名、密码、真实姓名、性别、
年龄、校区、电话和邮箱，其中用户名、密码、校区、姓名和电话是必须填写的信息，其他
信息可空白。校区可以从系统提供的下拉列表中选择（该列表中的校区是由乒校的超级管理
员录入的）。密码设置要求8-16位，必须包含字母、数字和特殊字符。学员的注册无需后台
审核。教练员注册（也即入职申请）与乒乓球学员注册类似，不同的是需提供教练员照片，
及其以往比赛中取得的成绩描述，并且需要校区管理员审核通过，方可注册成功。教练员分
为三种，高级教练员、中级教练员和初级教练员，不同的级别在教练员系统注册时，由校区
管理员审核指定。三种教练员的收费分别为每小时200元、150元和80元。 
 
成为系统用户后，学员和教练员均可对其基本信息进行维护，例如更换照片、修改密码等。 
学员可以通过系统查询教练员。查询方式有按照姓名查询和浏览所有教练员两种方式。以查
询方式进行检索时：学员需输入查询条件，包括教练员姓名，性别，年龄三个查询条件（查
询条件至少填写一项），如果系统中有匹配的教练员，则显示该教练员的基本信息，包括教
练的照片和获奖信息等。如果没有与查询条件相匹配的教练员，则提示没有找到相关教练员。
如果有多名教练员满足查询条件，则应列出所有满足条件的教练员列表，学员点击后显示该
教练员信息。以浏览方式查询时：系统列出该校区全部教练员列表，在用户点击某教练员链
接时显示该教练员信息。 
 
学员在查询教练员的基础上，可以选择该教练员成为其主管教练员，通过点击“选中教练”
按钮，完成教练员的选择申请。教练员会在学员提交申请后，相关教练收到系统消息，可以
审核通过或不通过，如果教练员审核通过，则建立了双选关系，如果教练员审核不通过，则
双选关系未建立，但系统会记录该项双选未成功的记录供后续查询。一名学员最多选择两位
教练员，一名教练员可以指导最多20名学员。 
 
在双选关系确立后，学生可以预约课程，预约课程的流程如下：学生选择某个已建立双选关
系的教练员，系统显示该教练员的课表，课表中列出该教练员未来一周的所有已预约的课程，
包括哪一天的哪个时间段及球台编号，学生可以在课表中空白的时间段进行预约，此时系统
会显示在该时间段未被占用的球台供学生选择，学生也可以选择由系统自动分配球台。教练
员登录系统后，会看到预约消息，教练员可以确认预约，也可以拒绝预约。在预约成功后（教
练员也确认了预约，并且支付成功，见后面的收费功能），学员和教练员均可在预约上课时
间之前的24小时及以上取消预约，预约取消需对方确认后，方能生效，此时系统会发起退
款，将支付的本次课时费退回学员账户。也就是说，如果是学员发起的取消，需教练员确认，
反之亦然。无论是学员还是教练员，一个月内取消预约不可以超过三次，每次在提交取消申
请时，系统均提示本月剩余的取消次数。在同一个月内第四次试图取消预约时，无法提交取

消申请（提交按钮不可用）。 
 
校区管理员不仅可以对本校区的学员信息、教练员信息进行管理（添加、修改、删除和查询）
还可以对课程预约信息进行管理，但无论哪种修改，均需在系统中以消息的方式提醒相关的
人员。以对教练员的信息进行修改为例，校区管理员需输入教练员的身份证号码或手机号，
系统显示教练员的姓名、年龄等基本信息，校区管理员对教练员的信息进行修改，并点击提
交。系统验证此次提交，确保有效的数据格式和内容（例如：如果手机号位数不对，或电子
邮件格式不对），系统应要求校区管理员重新录入相关信息），验证成功则回到校区管理员的
初始操作界面。 
 
学员可以通过系统的收费功能在账户中预存一定金额的训练费，系统提供微信和支付宝两种
线上支付方式，以及线下支付方式，若采用线上支付，系统会提供付款二维码，用户用手机
扫描二维码支付；若采用线下支付，需由校区管理员将训练费手工录入系统。每次预约学员
预约课程，并得到教练员的确认后，系统根据教练员的每小时收费金额及训练时段的时长，
计算此次预约的课时费，从学员的账户中扣除。如果账户中金额不足以支付课时费，系统将
拒绝此次课程预约。如果学员或教练员对符合24小时规定的预订发起了取消预订，系统在
双方确认的时刻，自动将相应的课时费退费至用户账户。 
 
为避免因疏忽忘记训练时间及球台，学员和教练员随时可以查询课表，系统也会在上课前一
小时通过系统消息提醒学员和教练员。 
 
学员可以选择更换教练员，学员在系统中使用该功能时，系统自动显示学员当前的教练员，
并显示本校区教练员列表，由学员指定希望换成的教练员，系统会通过系统消息通知当前教
练员、未来教练员及校区管理员，三者均同意后，才能对系统中存储的相关信息进行更新。 
 
每次训练课后，系统根据课程结束的时间，分别向学员和教练员发起一次评价请求，学员录
入此次训练课的收获和教训，教练员录入学生的表现和进一步提高的建议。这些评价会记录
在系统中，学员和教练员均可查询和浏览。 
 
系统将所有用户的重要操作均记录在系统日志中，例如：何时哪个用户修改了个人信息；何
时哪个学员预订了课程；何时哪个学员更换了教练员；何时哪个学员进行了缴费。校区管理
员可以随时查询相关记录。 
 
为检验学员的训练效果，培训机构每月的第四个星期天会组织一场月赛。月赛分为甲、乙、
丙三个组别。学员通过系统报名不同的组别，报名的同时需向系统通支付每人30元的报名
费，报名费缺省从学员的账户余额中扣除，如果余额不足，则提醒学员充值。系统根据每组
报名情况，若每组参赛学员不多于六人，则采用组内全循环方式排扣次，并随机分配球台。
具体扣次规则如下：若组员为偶数（如6人，分别编号为1-6），则第1轮至第6轮如图1
所示；若组员为奇数（如5人，分别编号为1-5），则第1轮至第5轮如图2所示。 若每组
参赛学员多于六人，则先将参赛学员分为更小的小组，在小组内采用全循环排扣次，取小
组前两名交叉淘汰。参赛球员可以在系统中查看自己的比赛顺序及球台编号。
 
 
 
 
 

 
 
 
2
 
 
第1轮：1-6；2-5；3-4；     第2轮：1-5；6-4；2-3；     第3轮：1-4；5-3；6-2；   第4轮：1-3；4-2；5-6； 
 
 
45
 
 
第5轮：1-2；3-6；4-5 
图1 
 
 
第1轮：1-空；2-5；3-4；第2轮：1-5；空-4；2-3；第3轮：1-轮空；2-5；3-4   第4轮：1-3；4-2；5-空 
 
 
 
 
第5轮：1-2；3-空；4-5； 
图2 
 
补充要求：蓝星公司为了销售该系统，希望将该系统开发为付费服务系统，也即针对某特定
软件购买者（也即某乒乓球培训机构的超级管理员），从系统成功安装并提供服务开始，每
使用一年需支付500元服务费（使用前支付），支付成功后，由服务器分配一个唯一的秘钥，
并仅能用于一台设备（如PC机或笔记本）。到期后需继续付费购买，系统方能继续提供服务。 
 
 
1 
5 
4 
3 
1 6 
6
2 5 
3 4 
1 
4 
5 
3 
6
2 
1 
3 
4 
2 
5 6 
1 
2 
3 6 
1  
2 5 
3 4 
1 5 
 4 
2 3 
1 4 
5 3 
 2 
1 3 
4 2 
5  
1 2 
3  
4 5 